$red: $primary-red-5;

$button-color: $red;
$button-border-color: $red;
$button-hover-border-color: $red;
$button-focus-color: white;
$button-focus-border-color: $red;
$button-focus-box-shadow-size: $red;
$button-focus-box-shadow-color: $red;	
$button-active-color: white;
$button-active-border-color: $red;
$button-hover-color: white;
$button-border-width: 0.22rem;

@import 'bulma/sass/elements/button';



.landing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    &__text {
        width: 50%;
        max-width: 50%;
        height: 100%;

        &__title, &__paragraph, &__buttons {
            margin: 10% 20%;
        }

        &__title {
            font-size: 4rem
        }

        &__paragraph {
            font-size: 1.7rem;
        }

        &__buttons {

        }

        .store {
            font-weight: 600;
            height: 7.5rem;
            width: 15rem;
            font-size: 2rem;
            border-radius: 10rem;


            &:hover {
                background-color: $red;
            }

            &:focus {
                background-color: $red;
            }
        }
    }
}

.phone {
    width: 50%;
    height: 100%;

    &__image {
        width: 80%;
        height: 80%;
    }
}