html {
    font-size: 62.5% !important;
}

html, body {
    height: 100%;
}

.page-one {
    height: 100%;
}

// Colors

// primary-red

$primary-red-1: #610404;
$primary-red-2: #780A0A;
$primary-red-3: #911111;
$primary-red-4: #A61B1B;
$primary-red-5: #BA2525;
$primary-red-6: #D64545;
$primary-red-7: #E66A6A;
$primary-red-8: #F29B9B;
$primary-red-9: #FACDCD;
$primary-red-10: #FFEEEE;

// primary-yellow
$primary-yel-1: #8D2B0B;
$primary-yel-2: #B44D12;
$primary-yel-3: #CB6E17;
$primary-yel-4: #DE911D;
$primary-yel-5: #F0B429;
$primary-yel-6: #F7C948;
$primary-yel-7: #FADB5F;
$primary-yel-8: #FCE588;
$primary-yel-9: #FFF3C4;
$primary-yel-10: #FFFBEA;

// Neutrals

$neutral-1: #27241D;
$neutral-2: #A39E93;
$neutral-3: #423D33;
$neutral-4: #504A40;
$neutral-5: #625D52;
$neutral-6: #857F72;
$neutral-7: #B8B2A7;
$neutral-8: #D3CEC4;
$neutral-9: #E8E6E1;
$neutral-10: #FAF9F7;

// Supporting



